CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

.idea/scopes/scope_settings.xml

.idea/workspace.xml

.project

.pydevproject

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/SlicerCIP.iml

.idea/vcs.xml

*.pyc
